{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI CCTP Explorer",
    "description": "Api reference for the CCTP Explorer",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blockflow.network/rest/90739f7e-fe01-4655-b303-b6125ce7414f/"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/transactions-burn": {
      "post": {
        "description": "Get burn transactions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "type": "string",
                    "description": "Unix timestamp for the start date",
                    "default": "1 day ago (Unix timestamp)"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Unix timestamp for the end date",
                    "default": "now (Unix timestamp)"
                  },
                  "sourceDomain": {
                    "type": "string",
                    "description": "Domain IDs for the source domain",
                    "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
                  },
                  "destinationDomain": {
                    "type": "string",
                    "description": "Domain IDs for the destination domain",
                    "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
                  },
                  "page": {
                    "type": "integer",
                    "description": "The page number to get",
                    "default": 1
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The number of results to return",
                    "default": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Burn transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BurnTransactions"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeout"
                }
              }
            }
          }
        }
      }
    },
    "/transactions-mint": {
      "post": {
        "description": "Get mint transactions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "type": "string",
                    "description": "Unix timestamp for the start date",
                    "default": "1 day ago (Unix timestamp)"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Unix timestamp for the end date",
                    "default": "now (Unix timestamp)"
                  },
                  "sourceDomain": {
                    "type": "string",
                    "description": "Domain IDs for the source domain",
                    "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
                  },
                  "destinationDomain": {
                    "type": "string",
                    "description": "Domain IDs for the destination domain",
                    "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
                  },
                  "page": {
                    "type": "integer",
                    "description": "The page number to get",
                    "default": 1
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The number of results to return",
                    "default": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mint transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BurnTransactions"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeout"
                }
              }
            }
          }
        }
      }
    },
    "/transactions-address-recipient": {
      "post": {
        "description": "Returns the transactions for a given address as recipient",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["address"],
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "The address to get the transactions for"
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Unix timestamp for the start date",
                    "default": "1 day ago (Unix timestamp)"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "The end date as unix timestamp to get recipient transactions",
                    "default": "now (Unix timestamp)"
                  },
                  "page": {
                    "type": "integer",
                    "description": "The page number to get",
                    "default": 1
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The number of results to return",
                    "default": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recipient transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientTransaction"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeout"
                }
              }
            }
          }
        }
      }
    },
    "/transactions-address-sender": {
      "post": {
        "description": "Returns the transactions for a given address as sender",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["address"],
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "The address to get the transactions for"
                  },
                  "startDate": {
                    "type": "string",
                    "description": "Unix timestamp for the start date",
                    "default": "1 day ago (Unix timestamp)"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "The end date as unix timestamp to get recipient transactions",
                    "default": "now (Unix timestamp)"
                  },
                  "page": {
                    "type": "integer",
                    "description": "The page number to get",
                    "default": 1
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The number of results to return",
                    "default": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sender transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientTransaction"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeout"
                }
              }
            }
          }
        }
      }
    },
    "/transactions-volume": {
      "post": {
        "description": "Get transaction volume over time",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "type": "string",
                    "description": "Unix timestamp for the start date",
                    "default": "1 day ago (Unix timestamp)"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "The end date as unix timestamp to get transaction volume",
                    "default": "now (Unix timestamp)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction volume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volume"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeout"
                }
              }
            }
          }
        }
      }
    },
    "/transactions-volume-in": {
      "post": {
        "description": "Get volume bridged into a specific domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "type": "string",
                    "description": "Unix timestamp for the start date",
                    "default": "1 day ago (Unix timestamp)"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Unix timestamp for the end date",
                    "default": "now (Unix timestamp)"
                  },
                  "sourceDomain": {
                    "type": "string",
                    "description": "Domain IDs for the source domain",
                    "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
                  },
                  "destinationDomain": {
                    "type": "string",
                    "description": "Domain IDs for the destination domain",
                    "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
                  },
                  "page": {
                    "type": "integer",
                    "description": "The page number to get",
                    "default": 1
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The number of results to return",
                    "default": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Volume bridged into a specific domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeIn"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeout"
                }
              }
            }
          }
        }
      }
    },
    "/transactions-volume-out": {
      "post": {
        "description": "Get volume bridged out of a specific domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "type": "string",
                    "description": "Unix timestamp for the start date",
                    "default": "1 day ago (Unix timestamp)"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Unix timestamp for the end date",
                    "default": "now (Unix timestamp)"
                  },
                  "sourceDomain": {
                    "type": "string",
                    "description": "Domain IDs for the source domain",
                    "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
                  },
                  "destinationDomain": {
                    "type": "string",
                    "description": "Domain IDs for the destination domain",
                    "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
                  },
                  "page": {
                    "type": "integer",
                    "description": "The page number to get",
                    "default": 1
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The number of results to return",
                    "default": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Volume bridged out of a specific domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeIn"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeout"
                }
              }
            }
          }
        }
      }
    },
    "/transactions-txHash": {
      "post": {
        "description": "Get transaction by transaction hash",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["txHash"],
                "properties": {
                  "txHash": {
                    "type": "string",
                    "description": "The transaction hash"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction by transaction hash",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionByTxHash"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeout"
                }
              }
            }
          }
        }
      }
    },
    "/domains-list": {
      "post": {
        "description": "Get list of domains",
        "responses": {
          "200": {
            "description": "Domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeout"
                }
              }
            }
          }
        }
      }
    },
    "/stats-recipients": {
      "post": {
        "description": "Get top recipients",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "type": "string",
                    "description": "Unix timestamp for the start date",
                    "default": "1 day ago (Unix timestamp)"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Unix timestamp for the end date",
                    "default": "now (Unix timestamp)"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The number of results to return",
                    "default": "100"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Top recipients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopRecipients"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeout"
                }
              }
            }
          }
        }
      }
    },
    "/stats-senders": {
      "post": {
        "description": "Get top senders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "startDate": {
                    "type": "string",
                    "description": "Unix timestamp for the start date",
                    "default": "1 day ago (Unix timestamp)"
                  },
                  "endDate": {
                    "type": "string",
                    "description": "Unix timestamp for the end date",
                    "default": "now (Unix timestamp)"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "The number of results to return",
                    "default": "100"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Top senders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopRecipients"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFound"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Timeout"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TopRecipients": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "number"
              },
              "endDate": {
                "type": "number"
              },
              "topRecipients": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "totalVolume": {
                      "type": "number"
                    },
                    "transactionCount": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Domains": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TransactionByTxHash": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "transactionType": {
                "type": "string"
              },
              "transaction": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "timestamp": {
                    "type": "number"
                  },
                  "isCompleted": {
                    "type": "boolean"
                  },
                  "sourceDomain": {
                    "type": "string"
                  },
                  "destinationDomain": {
                    "type": "string"
                  },
                  "mintRecipient": {
                    "type": "string"
                  },
                  "messageSender": {
                    "type": "string"
                  },
                  "burnToken": {
                    "type": "string"
                  },
                  "destinationCaller": {
                    "type": "string"
                  },
                  "detinationTokenMessenger": {
                    "type": "string"
                  },
                  "transactionHash": {
                    "type": "string"
                  },
                  "entityId": {
                    "type": "string"
                  },
                  "blockNumber": {
                    "type": "number"
                  },
                  "chainId": {
                    "type": "string"
                  },
                  "instanceId": {
                    "type": "string"
                  },
                  "sourceChain": {
                    "type": "string"
                  },
                  "destinationChain": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Volume": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "number"
              },
              "endDate": {
                "type": "number"
              },
              "mintVolume": {
                "type": "number"
              },
              "burnVolume": {
                "type": "number"
              },
              "totalVolume": {
                "type": "number"
              },
              "mintCount": {
                "type": "number"
              },
              "burnCount": {
                "type": "number"
              },
              "totalCount": {
                "type": "number"
              }
            }
          }
        }
      },
      "VolumeIn": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "number"
              },
              "endDate": {
                "type": "number"
              },

              "totalVolume": {
                "type": "number"
              },

              "totalCount": {
                "type": "number"
              },
              "volumeBreakdown": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "sourceChain": {
                      "type": "string"
                    },
                    "destinationChain": {
                      "type": "string"
                    },
                    "totalAmount": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RecipientTransaction": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string"
              },
              "totalTransactions": {
                "type": "number"
              },
              "transactions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "timestamp": {
                      "type": "number"
                    },
                    "sourceChain": {
                      "type": "string"
                    },
                    "destinationChain": {
                      "type": "string"
                    },
                    "transactionType": {
                      "type": "string"
                    },
                    "transactionHash": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BurnTransactions": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sourceChain": {
                  "type": "string"
                },
                "destinationChain": {
                  "type": "string"
                },
                "totalAmount": {
                  "type": "number"
                },
                "chain": {
                  "type": "string"
                },
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "number"
                      },
                      "timestamp": {
                        "type": "number"
                      },
                      "isCompleted": {
                        "type": "boolean"
                      },
                      "sourceDomain": {
                        "type": "string"
                      },
                      "destinationDomain": {
                        "type": "string"
                      },
                      "mintRecipient": {
                        "type": "string"
                      },
                      "messageSender": {
                        "type": "string"
                      },
                      "burnToken": {
                        "type": "string"
                      },
                      "destinationCaller": {
                        "type": "string"
                      },
                      "detinationTokenMessenger": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "required": ["status", "body"],
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "body": {
            "type": "object",
            "properties": {
              "errors": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "required": ["error", "type"],
        "properties": {
          "error": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "NotFound": {
        "type": "object",
        "required": ["error", "type"],
        "properties": {
          "error": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Timeout": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}
