{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI CCTP Explorer",
    "description": "Api reference for the CCTP Explorer",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.cctp.com/"
    }
  ],
  "paths": {
    "/transactions/burn": {
      "get": {
        "description": "Returns the daily stats",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceDomain",
            "in": "query",
            "description": "The source domain to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationDomain",
            "in": "query",
            "description": "The destination domain to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BurnTransactions"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/mint": {
      "get": {
        "description": "Returns the daily stats",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceDomain",
            "in": "query",
            "description": "The source domain to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationDomain",
            "in": "query",
            "description": "The destination domain to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BurnTransactions"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/address/recipient": {
      "get": {
        "description": "Returns the transactions for a given address as recipient",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The address to get the transactions for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientTransaction"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/address/sender": {
      "get": {
        "description": "Returns the transactions for a given address as sender",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The address to get the transactions for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientTransaction"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/volume": {
      "get": {
        "description": "Get transaction volume over time",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date to get the stats for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction volume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volume"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/volume/in": {
      "get": {
        "description": "Get volume bridged into a specific domain",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceDomain",
            "in": "query",
            "description": "The source domain to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationDomain",
            "in": "query",
            "description": "The destination domain to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeIn"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/volume/out": {
      "get": {
        "description": "Get volume bridged out of a specific domain",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "The start date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceDomain",
            "in": "query",
            "description": "The source domain to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "destinationDomain",
            "in": "query",
            "description": "The destination domain to get the stats for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeIn"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/txHash": {
      "get": {
        "description": "Get transaction by transaction hash",
        "parameters": [
          {
            "name": "txHash",
            "in": "query",
            "description": "The tx hash to get the transaction for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionByTxHash"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/domains/list": {
      "get": {
        "description": "Get list of domains",
        "responses": {
          "200": {
            "description": "Domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/recipients": {
      "get": {
        "description": "Get top recipients",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Unix timestamp for the start date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Unix timestamp for the end date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top recipients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopRecipients"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/senders": {
      "get": {
        "description": "Get top senders",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Unix timestamp for the start date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Unix timestamp for the end date",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top senders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopRecipients"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TopRecipients": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "number"
              },
              "endDate": {
                "type": "number"
              },
              "topRecipients": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "totalVolume": {
                      "type": "number"
                    },
                    "transactionCount": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Domains": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TransactionByTxHash": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "transactionType": {
                "type": "string"
              },
              "transaction": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "timestamp": {
                    "type": "number"
                  },
                  "isCompleted": {
                    "type": "boolean"
                  },
                  "sourceDomain": {
                    "type": "string"
                  },
                  "destinationDomain": {
                    "type": "string"
                  },
                  "mintRecipient": {
                    "type": "string"
                  },
                  "messageSender": {
                    "type": "string"
                  },
                  "burnToken": {
                    "type": "string"
                  },
                  "destinationCaller": {
                    "type": "string"
                  },
                  "detinationTokenMessenger": {
                    "type": "string"
                  },
                  "transactionHash": {
                    "type": "string"
                  },
                  "entityId": {
                    "type": "string"
                  },
                  "blockNumber": {
                    "type": "number"
                  },
                  "chainId": {
                    "type": "string"
                  },
                  "instanceId": {
                    "type": "string"
                  },
                  "sourceChain": {
                    "type": "string"
                  },
                  "destinationChain": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Volume": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "number"
              },
              "endDate": {
                "type": "number"
              },
              "mintVolume": {
                "type": "number"
              },
              "burnVolume": {
                "type": "number"
              },
              "totalVolume": {
                "type": "number"
              },
              "mintCount": {
                "type": "number"
              },
              "burnCount": {
                "type": "number"
              },
              "totalCount": {
                "type": "number"
              }
            }
          }
        }
      },
      "VolumeIn": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "number"
              },
              "endDate": {
                "type": "number"
              },

              "totalVolume": {
                "type": "number"
              },

              "totalCount": {
                "type": "number"
              },
              "volumeBreakdown": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "sourceChain": {
                      "type": "string"
                    },
                    "destinationChain": {
                      "type": "string"
                    },
                    "totalAmount": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RecipientTransaction": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string"
              },
              "totalTransactions": {
                "type": "number"
              },
              "transactions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "timestamp": {
                      "type": "number"
                    },
                    "sourceChain": {
                      "type": "string"
                    },
                    "destinationChain": {
                      "type": "string"
                    },
                    "transactionType": {
                      "type": "string"
                    },
                    "transactionHash": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BurnTransactions": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sourceChain": {
                  "type": "string"
                },
                "destinationChain": {
                  "type": "string"
                },
                "totalAmount": {
                  "type": "number"
                },
                "chain": {
                  "type": "string"
                },
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "number"
                      },
                      "timestamp": {
                        "type": "number"
                      },
                      "isCompleted": {
                        "type": "boolean"
                      },
                      "sourceDomain": {
                        "type": "string"
                      },
                      "destinationDomain": {
                        "type": "string"
                      },
                      "mintRecipient": {
                        "type": "string"
                      },
                      "messageSender": {
                        "type": "string"
                      },
                      "burnToken": {
                        "type": "string"
                      },
                      "destinationCaller": {
                        "type": "string"
                      },
                      "detinationTokenMessenger": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "required": ["status", "body"],
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "body": {
            "type": "object",
            "properties": {
              "errors": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
