{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI CCTP Explorer",
    "description": "Api reference for the CCTP Explorer",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.blockflow.network/rest/"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/9469e272-7189-4842-9eb8-64aa5e10dcd9-cli": {
      "get": {
        "description": "Returns the daily stats",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Unix timestamp for the start date",
            "schema": {
              "type": "string",
              "default": "1 day ago (Unix timestamp)"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Unix timestamp for the end date",
            "schema": {
              "type": "string",
              "default": "now (Unix timestamp)"
            }
          },
          {
            "name": "sourceDomain",
            "in": "query",
            "description": "Domain IDs for the source domain",
            "schema": {
              "type": "string",
              "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
            }
          },
          {
            "name": "destinationDomain",
            "in": "query",
            "description": "Domain IDs for the destination domain",
            "schema": {
              "type": "string",
              "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get",
            "schema": {
              "type": "integer",
              "default": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "default": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Burn transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BurnTransactions"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Unauthorized"
                }
              }
            }
          }
        }
      }
    },
    "/08bc84fb-1c52-4b2a-999f-7fc3953b505f-cli": {
      "get": {
        "description": "Returns the daily stats",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Unix timestamp for the start date",
            "schema": {
              "type": "string",
              "default": "1 day ago (Unix timestamp)"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date as unix timestamp to get mint Transactions",
            "schema": {
              "type": "string",
              "default": "now (Unix timestamp)"
            }
          },
          {
            "name": "sourceDomain",
            "in": "query",
            "description": "Domain IDs for the source domain",
            "schema": {
              "type": "string",
              "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
            }
          },
          {
            "name": "destinationDomain",
            "in": "query",
            "description": "Domain IDs for the destination domain",
            "schema": {
              "type": "string",
              "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get",
            "schema": {
              "type": "integer",
              "default": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "default": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mint transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BurnTransactions"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/210fee0a-3092-488c-8789-b60c7fa48cc8-cli": {
      "get": {
        "description": "Returns the transactions for a given address as recipient",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The address to get the transactions for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Unix timestamp for the start date",
            "schema": {
              "type": "string",
              "default": "1 day ago (Unix timestamp)"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date as unix timestamp to get recipient transactions",
            "schema": {
              "type": "string",
              "default": "now (Unix timestamp)"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get",
            "schema": {
              "type": "integer",
              "default": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "default": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recipient transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientTransaction"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/b4181711-3153-4d29-83dc-80dfff973e49-cli": {
      "get": {
        "description": "Returns the transactions for a given address as sender",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The address to get the transactions for",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Unix timestamp for the start date",
            "schema": {
              "type": "string",
              "default": "1 day ago (Unix timestamp)"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date as unix timestamp to get sender transactions",
            "schema": {
              "type": "string",
              "default": "now (Unix timestamp)"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get",
            "schema": {
              "type": "integer",
              "default": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "default": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sender transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipientTransaction"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/00ded1f2-64bd-4435-87e4-aa331d05ac48-cli": {
      "get": {
        "description": "Get transaction volume over time",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Unix timestamp for the start date",
            "schema": {
              "type": "string",
              "default": "1 day ago (Unix timestamp)"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date as unix timestamp to get transaction volume",
            "schema": {
              "type": "string",
              "default": "now (Unix timestamp)"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction volume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volume"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/009f92b3-c9f1-4a66-80b4-c5762d89b998-cli": {
      "get": {
        "description": "Get volume bridged into a specific domain",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Unix timestamp for the start date",
            "schema": {
              "type": "string",
              "default": "1 day ago (Unix timestamp)"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date as unix timestamp to get transaction volume",
            "schema": {
              "type": "string",
              "default": "now (Unix timestamp)"
            }
          },
          {
            "name": "sourceDomain",
            "in": "query",
            "description": "Domain IDs for the source domain",
            "schema": {
              "type": "string",
              "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
            }
          },
          {
            "name": "destinationDomain",
            "in": "query",
            "description": "Domain IDs for the destination domain",
            "schema": {
              "type": "string",
              "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get",
            "schema": {
              "type": "integer",
              "default": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "default": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume bridged into a specific domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeIn"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cb92766d-e05e-48c6-9ebb-a880b63791e7-cli": {
      "get": {
        "description": "Get volume bridged out of a specific domain",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Unix timestamp for the start date",
            "schema": {
              "type": "string",
              "default": "1 day ago (Unix timestamp)"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "The end date as unix timestamp to get transaction volume",
            "schema": {
              "type": "string",
              "default": "now (Unix timestamp)"
            }
          },
          {
            "name": "sourceDomain",
            "in": "query",
            "description": "Domain IDs for the source domain",
            "schema": {
              "type": "string",
              "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
            }
          },
          {
            "name": "destinationDomain",
            "in": "query",
            "description": "Domain IDs for the destination domain",
            "schema": {
              "type": "string",
              "default": "[\"0\",\"1\",\"2\",\"3\",\"6\",\"7\"]"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get",
            "schema": {
              "type": "integer",
              "default": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "default": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Volume bridged out of a specific domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VolumeIn"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ff803eab-7f4d-4418-90a4-d225cddc1dff-cli": {
      "get": {
        "description": "Get transaction by transaction hash",
        "parameters": [
          {
            "name": "txHash",
            "in": "query",
            "description": "The transaction hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction by transaction hash",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionByTxHash"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/02cf2c2e-406c-4d30-ac85-4957e254dc00-cli": {
      "get": {
        "description": "Get list of domains",
        "responses": {
          "200": {
            "description": "Domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/d922316b-03a8-403f-8102-7da558626a49-cli": {
      "get": {
        "description": "Get top recipients",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Unix timestamp for the start date",
            "schema": {
              "type": "string",
              "default": "1 day ago (Unix timestamp)"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Unix timestamp for the end date",
            "schema": {
              "type": "string",
              "default": "now (Unix timestamp)"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "default": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top recipients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopRecipients"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/42a3881e-4016-4b08-b784-625f42bda4e1-cli": {
      "get": {
        "description": "Get top senders",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Unix timestamp for the start date",
            "schema": {
              "type": "string",
              "default": "1 day ago (Unix timestamp)"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Unix timestamp for the end date",
            "schema": {
              "type": "string",
              "default": "now (Unix timestamp)"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of results to return",
            "schema": {
              "type": "integer",
              "default": "100"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Top senders",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopRecipients"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TopRecipients": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "number"
              },
              "endDate": {
                "type": "number"
              },
              "topRecipients": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string"
                    },
                    "totalVolume": {
                      "type": "number"
                    },
                    "transactionCount": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Domains": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TransactionByTxHash": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "transactionType": {
                "type": "string"
              },
              "transaction": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "timestamp": {
                    "type": "number"
                  },
                  "isCompleted": {
                    "type": "boolean"
                  },
                  "sourceDomain": {
                    "type": "string"
                  },
                  "destinationDomain": {
                    "type": "string"
                  },
                  "mintRecipient": {
                    "type": "string"
                  },
                  "messageSender": {
                    "type": "string"
                  },
                  "burnToken": {
                    "type": "string"
                  },
                  "destinationCaller": {
                    "type": "string"
                  },
                  "detinationTokenMessenger": {
                    "type": "string"
                  },
                  "transactionHash": {
                    "type": "string"
                  },
                  "entityId": {
                    "type": "string"
                  },
                  "blockNumber": {
                    "type": "number"
                  },
                  "chainId": {
                    "type": "string"
                  },
                  "instanceId": {
                    "type": "string"
                  },
                  "sourceChain": {
                    "type": "string"
                  },
                  "destinationChain": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "Volume": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "number"
              },
              "endDate": {
                "type": "number"
              },
              "mintVolume": {
                "type": "number"
              },
              "burnVolume": {
                "type": "number"
              },
              "totalVolume": {
                "type": "number"
              },
              "mintCount": {
                "type": "number"
              },
              "burnCount": {
                "type": "number"
              },
              "totalCount": {
                "type": "number"
              }
            }
          }
        }
      },
      "VolumeIn": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "startDate": {
                "type": "number"
              },
              "endDate": {
                "type": "number"
              },

              "totalVolume": {
                "type": "number"
              },

              "totalCount": {
                "type": "number"
              },
              "volumeBreakdown": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "sourceChain": {
                      "type": "string"
                    },
                    "destinationChain": {
                      "type": "string"
                    },
                    "totalAmount": {
                      "type": "number"
                    },
                    "count": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "RecipientTransaction": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string"
              },
              "totalTransactions": {
                "type": "number"
              },
              "transactions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "timestamp": {
                      "type": "number"
                    },
                    "sourceChain": {
                      "type": "string"
                    },
                    "destinationChain": {
                      "type": "string"
                    },
                    "transactionType": {
                      "type": "string"
                    },
                    "transactionHash": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BurnTransactions": {
        "type": "object",
        "properties": {
          "status": {
            "type": "number"
          },
          "body": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sourceChain": {
                  "type": "string"
                },
                "destinationChain": {
                  "type": "string"
                },
                "totalAmount": {
                  "type": "number"
                },
                "chain": {
                  "type": "string"
                },
                "transactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "number"
                      },
                      "timestamp": {
                        "type": "number"
                      },
                      "isCompleted": {
                        "type": "boolean"
                      },
                      "sourceDomain": {
                        "type": "string"
                      },
                      "destinationDomain": {
                        "type": "string"
                      },
                      "mintRecipient": {
                        "type": "string"
                      },
                      "messageSender": {
                        "type": "string"
                      },
                      "burnToken": {
                        "type": "string"
                      },
                      "destinationCaller": {
                        "type": "string"
                      },
                      "detinationTokenMessenger": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "required": ["status", "body"],
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "body": {
            "type": "object",
            "properties": {
              "errors": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "required": ["error", "type"],
        "properties": {
          "error": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}
